{{ partial "head.html" . }}

<main>
  <section>
    <!-- this section is populated by pulling posts from the site -->
    {{ range first 1 (where .Pages "Section" "posts") }}
      <article>
        <header>
          <h2>{{ .Title }}</h2>
        </header>
        <img src="{{ .Params.image }}" alt="">
        {{ .Summary }}
        <nav>
          <ul>
            <li><a href="{{ .RelPermalink }}">Share &raquo;</a></li>
          </ul>
        </nav>
      </article>
    {{ end }}
  </section>
</main>

{{ partial "foot.html" .}}
